// Breakpoints
$breakpoints: 'xl','l','m','s','xs';

$breakpoint-xl: '(min-width: 1440px)';
$breakpoint-l: '(max-width: 1280px)';
$breakpoint-m: '(max-width: 1024px)';
$breakpoint-s: '(max-width: 767px)';
$breakpoint-xs: '(max-width: 480px)';

// Pigments
$black: #111111;
$dark-gray: #4F5059;
$light-gray: #C0C1C7;
$lighter-gray: #E4E5EB;

// Colors
$red: #E05667;
