body,
html {
  margin: 0;
  text-size-adjust: none;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
  font-weight: 400;
}

input {
  appearance: none;
  outline: none;
}

h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 67px;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

p {
  font-weight: 400;
  font-size: 21px;
  font-height: 32px;
}
