body,
html {
  margin: 0;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
  font-weight: 400;

  &.fixed-scroll {
    overflow-y: hidden;
    position: fixed;
  }
}

input {
  appearance: none;
  outline: none;
}

h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 77px;
  margin: 0;
  color: $black;
  text-transform: capitalize;

  @include breakpoint(s) {
    font-size: 40px;
    line-height: 48px;
  }
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 32px 0;
  color: $black;
  text-transform: capitalize;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin: 0 0 8px 0;
  color: $black;
  text-transform: capitalize;
}

p {
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin: 0;
  color: $dark-gray;
}

a {
  color: $red;
}
